{% set classes = [
    'node',
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    node.bundle|clean_class,
    node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
    'node' ~ '--' ~ view_mode|clean_class,
    'node' ~ '--' ~ node.bundle|clean_class,
    term_type ? node.bundle|clean_class ~ '--' ~ term_type|clean_class,
] %}
<article{{ attributes.addClass(classes) }}>
    <div class="node--content" {{ content_attributes }}>
        {% if content.field_dsj_image and content.field_dsj_image|render %}
            <div class="image-area">
                {{ content.field_dsj_image }}
            </div>
        {% endif %}
        <div class="text-area">
            {{ title_prefix }}
            <h3{{ title_attributes }}>
                <a href="{{ url }}" rel="bookmark" title="{{ title }}">{{ title }}</a>
            </h3>
            {{ title_suffix }}
            {{ content | without('field_dsj_image') | without('field_dsj_form_of_funding')}}
        </div>

    </div>
    <div class="node--footer">
        {{ content.field_dsj_form_of_funding }}
        <div class="more-link"><a href="{{ url }}" class="more-link">{% trans %}Read more{% endtrans %}</a>
        </div>
    </div>
</article>
    
