{% set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  'node' ~ '--' ~ view_mode|clean_class,
  'node' ~ '--' ~ node.bundle|clean_class,
  term_type ? node.bundle|clean_class ~ '--' ~ term_type|clean_class,
  'node--card',
  'ecl-u-mb-s',
] %}
<div class="ecl-col-m-4 ecl-u-mb-s ecl-u-d-md-flex ecl-u-flex-md-column">
  <article{{ attributes.addClass(classes) }}>
    <div class="node--content">
      {{ content.field_dsj_image }}
      {{ title_prefix }}
      <h3{{ title_attributes }}>
        <a href="{{ url }}" rel="bookmark">{{ node.title.value }}</a>
      </h3>
      {{ title_suffix }}
    </div>

    <div class="node--footer">
      {{ ct_pill }}
      <div class="count count-comment"><span><a href="{{ comment_form_url }}">{{ comment_count }}</a></span></div>
    </div>
  </article>
</div>
