{% if content %}
  {{ author_avatar }}
  <div class="user-name">
    <div class="started-by">
      <span class="hidden-mobile">{{ 'Created by' | t }}</span>
      {% if user.isAnonymous %}
        {{ author_name }}
      {% else %}
        <a href="{{ path('entity.user.canonical', {'user': user.id}) }}">{{ author_name }}</a>
      {% endif %}
    </div>
    <span class="delimiter">|</span>
  </div>
{% endif %}
