{% set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  'node' ~ '--' ~ view_mode|clean_class,
  'node' ~ '--' ~ node.bundle|clean_class,
  term_type ? node.bundle|clean_class ~ '--' ~ term_type|clean_class,
] %}
<article{{ attributes.addClass(classes) }}>

  <div class="article-image">
    {{ content.field_dsj_image }}
  </div>

  <div class="article-info">
    {{ title_prefix }}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
    {{ title_suffix }}
    <div class="article-date">{{ content.field_dsj_date }}</div>
    {{ ct_pill }}
  </div>
</article>
