<div class="field field--title">
  <div class="field__label">{{ 'Organisation'|t }}</div>
  <div class="field__items">
    <div class="field__item">
      {{ title_prefix }}
      <a href="{{ url }}" rel="bookmark" title="{{ title }}">{{ title }}</a>
      {{ title_suffix }}
    </div>
  </div>
</div>
{{ content }}
