{% set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  'node' ~ '--' ~ view_mode|clean_class,
  'node' ~ '--' ~ node.bundle|clean_class,
  content.flag_subscribe_node and logged_in ? 'node--subscribe',
  term_type ? node.bundle|clean_class ~ '--' ~ term_type|clean_class,
] %}
<article{{ attributes.addClass(classes) }}>

  <div class="node--content" {{ content_attributes }}>
    {% if content.content_moderation_control %}
      {{ content.content_moderation_control }}
    {% endif %}
    <header>
      <div class="upper">
        {{ title_prefix }}
        <h1{{ title_attributes }}>
          {{ node.title.value }}
        </h1>
        {{ title_suffix }}
      </div>
    </header>

    <div{{ content_attributes }}>
      {{ content|without('content_moderation_control', 'flag_voting', 'flag_subscribe_node', 'field_dsj_comments') }}
    </div>
  </div>

</article>
