<div class="initiative-box-title">{{ 'Initiative Progress'|t }}</div>
<div class="initiative-{{ initiative_type }}">
  <div class="initiative-header">
    {{ initiative_name }}
  </div>
  <div class="initiative-content">
    <div class="initiative-title">
      {{ label }}
    </div>
    {{ content }}
  </div>
</div>
