{% set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  'node' ~ '--' ~ view_mode|clean_class,
  'node' ~ '--' ~ node.bundle|clean_class,
  term_type ? node.bundle|clean_class ~ '--' ~ term_type|clean_class,
] %}
<article{{ attributes.addClass(classes) }}>
  <div class="article-image">
    <div class="user author-picture">
      <a href="{{ url }}" >
        <img src="{{ base_url }}/{{ directory }}/assets/images/related-discussions.png" alt="">
      </a>
    </div>
  </div>
  <div class="article-info">
    {{ title_prefix }}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark" title="{{ title }}">{{ label }}</a>
    </h2>
    {{ title_suffix }}
    <div class="article-date">{{ node.getCreatedTime|format_date('custom', 'd F Y') }}</div>
  </div>
</article>
