{% set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  'node' ~ '--' ~ view_mode|clean_class,
  'node' ~ '--' ~ node.bundle|clean_class,
  term_type ? node.bundle|clean_class ~ '--' ~ term_type|clean_class,
] %}
<article{{ attributes.addClass(classes) }}>

  <div class="node--content">
    <div class="page-header">
      <div class="upper">
        {{ title_prefix }}
        <h1{{ title_attributes }}>
          {{ node.title.value }}
        </h1>
        {{ title_suffix }}
        <div class="subscribe-button-wrapper">
          {% if content.flag_subscribe_node and logged_in %}
            <div class="subscribe">
              {{ content.flag_subscribe_node }}
            </div>
          {% endif %}
          {% if learning_states_form and logged_in %}
            <div class="subscribe">
              {{ learning_states_form }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    <div{{ content_attributes }}>
      {{ content | without('flag_voting', 'flag_subscribe_node', 'field_dsj_comments', 'field_dsj_author') }}
    </div>

  </div>

</article>

